---
title: Attribution and Credits
permalink: "/Attribution/"
---
{% include head.html %}

  {% include mobile_nav.html %}
  {% include header.html%}
  <div class="content-container">
    <!-- content here -->
    <!-- BEGINNING OF SECTION ONE -->
    <section class="flex-page-section">
      <div class="text-cont">
        <h2>Attribution band Credits</h2>
        <p>This site was built by Will Bjorn, a web developer in Seattle. You can check out his portfolio <a href="http://jackofalltrad.es/">here</a>.</p>
        <p>Icons on this site made by Freepik from <a href="http://www.flaticon.com"> www.flaticon.com</a></p>
      </div>
    </section>
    <!-- END OF SECTION ONE -->


  </div><!-- /.container -->
  {% include footer.html%}