---
title: Contact
permalink: "/contact/"
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include mobile_nav.html %}
  {% include header.html%}
  <div class="content-container">



    <!-- content here -->
    <!-- BEGINNING OF SECTION TWO -->
    <section class="flex-page-section">
      <div class="text-cont">
        <h2>Contact Us</h2>
        <p>Send us your questions and comments - we would love to hear from you! Follow the link below to the contact form, and we will get back to you as soon as we can!</p>
        <p><strong>Phone:</strong></p>
        <p>(206) 860-5939</p>
        <p><strong>Mailing Address</strong></p>
        <p>Coalition for Refugees from Burma
          <br>1265 S. Main Street, Suite 309
          <br>Seattle, WA 98144</p>
        <div class="button-container-home-page">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrfMi9aViTAeweAvaZpzu7U9p7sPsMnjdfB1_dWfB9DasHZg/viewform" target="_blank" class="btn btn-sm animated-button thar-ter">Contact Form</a>
        </div>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/FieldTripSQ3.jpg" alt="A group of members graduates from our summer STEP program.">
      </div>
    </section>
    <!-- END OF SECTION TWO -->

<!-- https://docs.google.com/forms/d/e/1FAIpQLSdrfMi9aViTAeweAvaZpzu7U9p7sPsMnjdfB1_dWfB9DasHZg/viewform -->


    {% include fourWideCircleImages.html%}
  </div><!-- /.container -->
  {% include footer.html%}
  </body>
</html>
