---
title: Get Involved
permalink: "/GetInvolved/"
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include mobile_nav.html %}
  <div id="GetInvolvedHeader" class="focalImg">
    <div class="focal-overlay">
      <div class="focal-text-container">
        <h1 class="focalHeadline">Get Involved</h1>
        <h2 class="focal-subheadline">Interested in joining our team of enthusiastic and talented staff and volunteers? Check out our employment and volunteer opportunities below!</h2>
        <!-- <div class="focal-btn-container"> -->
          <!-- <div class="button-container-home">
            <a href="#" class="btn btn-sm animated-button thar-two">Learn More</a>
            <a href="#" id="donate-btn-home" class="btn btn-sm animated-button thar-two secondary-btn">Donate</a>
          </div> -->
          {% include social-media.html %}
        <!-- </div> -->
      </div>
    </div>
  </div> <!-- end focal image div -->
  {% include header.html%}
  <div class="content-container">

<!-- MAJOR HEADLINE: EMPLOYMENT -->
    <h2 id="employment-headline">Employment Opportunities</h2>
    <p>CRB currently has no open employment opportunities. Check back later or browse the list of volunteer programs below!</p>
    <hr>
    <!-- EMPLOYMENT SECTION -->
        <section class="flex-page-section">
          <div class="text-cont top">
            <h2>Make a difference, volunteer!</h2>
            <p>CRB depends on volunteers to help support and build the capacity of our community. Over the past year, our volunteers have contributed nearly 1,500 hours to serve the diverse, multi-ethnic refugee communities from Burma, Iraq, Bhutan, Somalia, Ethiopia, Afghanistan, and Democratic Republic of Congo living in South Seattle and Kent. This contribution of dedication and skills is equivalent to over $39,000 of in-kind donations to CRB!</p>
            <p><strong>Interested?</strong></p>
            <p>Please <a class="inline-anchor" href="/assets/files/CRBVolunteerApplication20162017.pdf">complete the application form</a> and email it to <a class="inline-anchor" href="mailto:volunteer@allburmarefugees.org">volunteer@allburmarefugees.org</a>. See below for all our opportunities.</p>
          </div>
          <div class="img-cont">
            <img class="solo-img" src="/assets/images/Enhanced/AdultTrainingSQ1.jpg" alt="">
          </div>
        </section>
        <hr>
    <!-- END EMPLOYMENT SECTION -->
    <h2 id="employment-headline">Volunteer Programs</h2>
      <hr>
    <section class="flex-page-section">
      <div class="text-cont top">
        <h2>In-Home Tutors</h2>
        <p>CRB’s <strong>In-Home Tutors</strong> are key partners in working towards our mission. <strong>In-Home Tutors</strong> help to increase the academic success of refugee youth through tutoring, mentorship, and encouraging family engagement with formal education. <strong>In-Home Tutors</strong> are matched with K-12 refugee youth living in the Rainier Valley region and meet once a week at the student’s home to complete homework, study for tests, and build English language skills. In-Home Tutoring also takes place in the summer. This is a great opportunity to make the newest members of our community feel welcomed!</p>
        <p><strong>Location:</strong> Throughout Seattle (Northeast, West, & South Seattle) and Kent</p>
        <p><strong>Commitment:</strong> 2 hours per week for a 6-month commitment</p>
        <p><strong>Interested?</strong> Please <a class="inline-anchor" href="/assets/files/CRBVolunteerApplication20162017.pdf">complete the application form</a> and email it to <a class="inline-anchor" href="mailto:volunteer@allburmarefugees.org">volunteer@allburmarefugees.org</a>. See below for all our opportunities.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/MayAndIlhan-AyanSQ.jpg" alt="">
      </div>
    </section>


    <!-- BREAK -->
    <section class="flex-page-section">
      <div class="text-cont top">
        <h2>Small Group Tutors</h2>
        <p>Beginning in the 2016-17 school year, CRB will offer weekly small group tutoring sessions in Kent for a select group of high school refugee youth who are in need of extra support with their academic coursework and/or English language skills. Tuesday Tutors will provide individualized or small group tutoring services during sessions that focus entirely on homework help and English practice. This is a great opportunity to build one-on-one relationships with students in a group setting!</p>
        <p><strong>Location:</strong> CRB's office in downtown Kent, WA (515 W Harrison St, Suite 213)</p>
        <p><strong>Commitment:</strong> Tuesdays from 3:00-5:00 PM; minimum 3-month commitment</p>
        <p><strong>Interested?</strong> Please <a class="inline-anchor" href="/assets/files/CRBVolunteerApplication20162017.pdf">complete the application form</a> and email it to <a class="inline-anchor" href="mailto:volunteer@allburmarefugees.org">volunteer@allburmarefugees.org</a>. See below for all our opportunities.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/Tutoring0.jpg" alt="">
      </div>
    </section>
    <!-- BREAK -->


    <!-- END EMPLOYMENT SECTION -->
    <div id="classroom-tutor" class="text-cont">
        <h2>Classroom Tutors</h2>
    </div>
    <p class="standalone-p">Join our After-School Program and gain valuable experience working with refugee and ELL youth in a fun and engaging classroom environment! This is a wonderful chance to get to know newly arrived English language learners from across the globe or to earn hours for a TEFL practicum.</p>


    <section class="flex-page-section">
      <div class="text-cont top">
        <p>At our <strong>Kent Meridian High School After-School Program</strong>, Classroom Tutors provide small group tutoring and homework support to high school aged refugee and ELL youth. Additionally, Classroom Tutors assist students as they participate in academic activities to improve their reading and writing skills and increase their knowledge of college and career readiness.</p>
        <p><strong>Location:</strong> Kent Meridian High School in Kent, WA</p>
        <p><strong>Commitment:</strong> Sessions take place on Wednesdays and Thursdays from 2:15-4:15 PM. Volunteers are expected to attend one day per week for a 3-month commitment</p>
        <p><strong>Interested?</strong> Please <a class="inline-anchor" href="/assets/files/CRBVolunteerApplication20162017.pdf">complete the application form</a> and email it to <a class="inline-anchor" href="mailto:volunteer@allburmarefugees.org">volunteer@allburmarefugees.org</a>. See below for all our opportunities.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/Classroom1.jpg" alt="">
      </div>
    </section>

    <section class="flex-page-section">
      <div class="text-cont top">
        <p>At our <strong>Rainier Beach High School After-School Program</strong>, Classroom Tutors offer valuable homework help and assist students as they complete their senior research projects during our after-school programming.</p>
        <p><strong>Location:</strong> Rainier Beach High School in Seattle, WA</p>
        <p><strong>Commitment:</strong> Sessions take place on Mondays from 2:40 PM - 4:40 PM.  Volunteers are expected to attend each weekly session for a minimum of 3 months.</p>
        <p><strong>Interested?</strong> Please <a class="inline-anchor" href="/assets/files/CRBVolunteerApplication20162017.pdf">complete the application form</a> and email it to <a class="inline-anchor" href="mailto:volunteer@allburmarefugees.org">volunteer@allburmarefugees.org</a>. See below for all our opportunities.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/ClassroomSQ2.jpg" alt="">
      </div>
    </section>

    <section class="flex-page-section">
      <div class="text-cont top">
        <h2>Technology Trainer Assistant</h2>
        <p><strong>Technology Trainer Assistants</strong> will assist with CRB’s Nexus Program: Connecting Newcomers with Technology. CRB, in partnership with Somali Youth & Family Club, is planning a technology access and training program for refugee and immigrant adults and youth. The Technology Trainer Assistant will aid CRB staff in providing instruction to adult refugees interested in learning computer skills, such as navigating the Microsoft Office Suite, email, Google, and other online tools. Additionally, the Technology Trainer Assistant will help participants practice and develop the skills taught in the lessons.</p>
        <p><strong>Location:</strong> Various locations in South Seattle. Dates TBD.</p>
        <p><strong>Interested?</strong> Please <a class="inline-anchor" href="/assets/files/CRBVolunteerApplication20162017.pdf">complete the application form</a> and email it to <a class="inline-anchor" href="mailto:volunteer@allburmarefugees.org">volunteer@allburmarefugees.org</a>. See below for all our opportunities.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/ComputerLiteracyAdultSQ0.jpg" alt="">
      </div>
    </section>

    {% include fourWideCircleImages.html%}

  </div><!-- /.container -->
  {% include footer.html%}
  {{ site.jQuery }}
  {{ site.sticky-nav }}
  </body>
</html>
