---
title: Programs
permalink: "/Programs/"
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include mobile_nav.html %}
  <div id="OurProgramsHeader" class="focalImg">
    <div class="focal-overlay">
      <div class="focal-text-container">
        <h1 class="focalHeadline">Our Programs</h1>
          {% include social-media.html %}
      </div>
    </div>
  </div> <!-- end focal image div -->
  {% include header.html%}
  <div class="content-container">
    <!-- BEGINNING OF SECTION ONE -->
    <section class="flex-page-section">
      <div class="text-cont">
        <p>Please look over the wide variety of programs we offer. If you think you or someone you know might benefit from one of our programs please do not hesitate to contact us for more information.</p>
        <div class="button-container-home-page">
          <a href="#" class="btn btn-sm animated-button thar-ter">Learn More</a>
          <a href="#" class="btn btn-sm animated-button thar-ter">Help Out</a>
          <a href="#" class="btn btn-sm animated-button thar-two">Donate</a>
        </div>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/AdultTrainingSQ1.jpg" alt="">
      </div>
    </section>
    <!-- END OF SECTION ONE -->
    <!--                    -->
    <!-- BEGINNING OF SECTION TWO -->
    <section class="flex-page-section alternative-page-section-blue">
      <div class="text-cont">
        <h2>Family Literacy Program</h2>
        <p>For refugee families from Burma, there is a need to have a program that serves both parents and preschool-aged children.  Lack of childcare resources prevents many refugees from attending classes and workshops, and many families involved in CRB programs have young children.  CRB's Family Literacy program is designed to address main educational barriers affecting both recently arrived refugee adults and their preschool aged children.  In this program, preschool-age children receive early childhood education and school-readiness instruction, while their parents receive ESL instruction. This class meets three times a week in Kent, WA. Mondays and Wednesdays are dedicated to classroom instruction. On Fridays, parents learn about child development, school readiness, and navigating the school systems.</p>
      </div>
      <div class="img-cont reverse-blue">
        <img class="solo-img" src="/assets/images/Enhanced/Tutoring0.jpg" alt="A group of members graduates from our summer STEP program.">
      </div>
    </section>
    <!-- END OF SECTION TWO -->
    <!--                    -->
    <!-- BEGINNING OF SECTION THREE -->
    <section class="flex-page-section">
      <div class="text-cont">
        <h2>Youth Program</h2>
        <p>CRB works with both Seattle and Kent Public School Districts to provide targeted, individualized educational programming to recently arrived refugee students and their families.  In 2012, the Seattle Youth Program added two new projects: the Seattle Summer School pilot for K-8, and an in-home tutoring program for K-12.   CRB also provides educational workshops for parents to strengthen their parenting skills in advocating for their children's education.  For the Kent Youth Program, CRB works closely with the Kent School District to provide after-school programming to build students' writing and reading comprehension skills.  CRB also provides a series  of workshops regarding high school graduation programs, high school completion program options, and the transition to college.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/Earthworks_Clean-up5.jpg" alt="">
      </div>
    </section>
    <!-- END OF SECTION THREE -->
    <!--                    -->
    <!-- END OF SECTION FOUR -->
    <section class="flex-page-section alternative-page-section-blue">
      <div class="text-cont">
        <h2>ACCESS: <br>Train-the-Trainer Program in Parent Education</h2>
        <p>The Advocate Community in Childhood Education for Student Success (ACCESS) program provides a new arrival refugee community with knowledge and tools that will help them to promote student success at the beginning of their children’s educational career in America. This project uses a “train-the-trainer” model to build the knowledge base of the refugee community from Burma. CRB trains bi-lingual community leaders for 12 weeks on essential parent education topics, and the leaders recruit and train their community members in their own languages. The idea is to build the community’s capacity by utilizing a pre-existing system of knowledge sharing amongst the community members.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/Mentors.jpg" alt="">
      </div>
    </section>
    <!-- END OF SECTION FOUR -->
    <!--                    -->
    <!-- END OF SECTION FIVE -->
    <section class="flex-page-section">
      <div class="text-cont">
        <h2>New Life Literacy Program</h2>
        <p>The "New Life" Literacy Program is designed for adult ESL students who have limited experience with formal education. It is an introduction to learning English in a formal classroom setting, where students learn speaking and listening skills first, before moving on to the building blocks of reading and writing.  This program was created in 2011, based on an identified need in the refugee community for pre-level 1 English language support. Lack of classroom experience make it difficult for refugee students to adapt to the ESL systems available to them once they arrive. The goal is to help adult refugee students to bridge the knowledge gap so they may be successful in a Level 1 ESL program.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/ComputerLiteracyAdultSQ0.jpg" alt="">
      </div>
    </section>
    <!-- END OF SECTION FIVE -->
    <!--                    -->
    <!-- END OF SECTION SIX -->
    <section class="flex-page-section alternative-page-section-blue">
      <div class="text-cont">
        <h2>Refugee-to-Advocate Program</h2>
        <p>Refugee to Advocate (R2A) is a series of workshops which provide community members with information and training about refugee resettlement issues in for supporting their newly arrived community members.  The idea is to train “community helpers” (CHs) - natural leaders in their own communities - on a range of resettlement topics. CHs then use the knowledge and resources provided by the program to train members of their cultural and linguistic communities.  CRB uses this novel, "train-the-trainer" approach, to disseminate information to community helpers from both various ethnic communities of Burma, and to Bhutanese community leaders, and they, in turn, trained their community members in their own languages.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/ClassroomSQ3.jpg" alt="">
      </div>
    </section>
    <!-- END OF SECTION SIX -->
    <!--                    -->
    <!-- END OF SECTION SEVEN -->
    <section class="flex-page-section">
      <div class="text-cont">
        <h2>Parent Education Program</h2>
        <p>CRB provides educational workshops for refugees covering parent engagement topics such as accessing school district information, monitoring a student’s academic performance through the district’s online grade system, contacting teachers and school administrators, and advocating for student rights and responsibilities.</p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/AdultTrainingSQ1.jpg" alt="">
      </div>
    </section>
    <!-- END OF SECTION SEVEN -->
    <!--                    -->
    <!-- END OF SECTION EIGHT -->
    <section class="flex-page-section alternative-page-section-blue">
      <div class="text-cont">
        <h2>Technology Program</h2>
        <p>The Technology Program provides computer literacy trainings. Adult and youth refugees from Burma learn how to explore the internet, use Microsoft Word other applications, and they are also assisted to find different resources through the internet. </p>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/ComputerTraining0.jpg" alt="">
      </div>
    </section>
    <!-- END OF SECTION EIGHT -->
    {% include fourWideCircleImages.html%}
  </div><!-- /.container -->
  {% include footer.html %}
  </body>
</html>
