//blogroll styles

#post-container {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.2em;
    padding: 0 10px;
  }

  h2 {
    font-size: 2em;
    padding: 0 10px;
  }

  h3 {
    font-size: 1.8em;
    padding: 0 10px;
  }

  h4 {
    padding: 0 10px;
    font-size: 1.5em;
  }

  p {
    padding: 0 10px;
  }

  a {

  }

  ul {
    padding: 0;
    -webkit-padding-start: 0px;
  }



  img {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);
    -moz-box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);
    box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);
    margin: 10px 0;
  }

  hr {
    margin: 0 10px;
  }

  .post-content {
    width: 100%;
  }

  .post-post-title {
    font-size: 2em;
  }

  .post-post-subtitle {
    font-size: 1.5em;
  }

  .post-focal-img {
    width: 95%;
    margin: 2.5%;
  }



}

.posts-recent-posts {
    h4 {
      font-size: 1.5em;
    }

    hr {
      margin: 0 10px;
    }

    .post-widget-cont {
      padding: 10px;
    }

    h3 {
      font-size: 1.25em;
    }
}

.img-blog-thumbnail {
  width: 100%;
  height: auto;
  margin: 0 auto;

}

.blog-roll-cont {
  width: calc(100% - 10px);
  // background-color: $greyBlue70;
  border: 5px solid $redBrown;
  list-style-type: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  -webkit-box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);
  -moz-box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);
  box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);


}




@media only screen
  and (min-device-width: 767px) {

    #blog-roll {
      display: flex;
      flex-direction: row;
      width: 95%;
      flex-wrap: wrap;
      // margin: 0 auto;
      justify-content: space-around;
    }


    .blog-roll-cont {
      // flex-direction: row;
      flex-wrap: wrap;
      // height: 500px;
      list-style-type: none;
      // margin: 10px;
      width: 45%;
    }

    .post-widget-cont {
      width: 45%;
      margin: 1%;
      -webkit-box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);
      -moz-box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);
      box-shadow: -1px 2px 12px -2px rgba(115,130,134,1);

    }


    #post-container {
      .post-content {
        width: 80%;
        margin: 25px auto;
      }

    .blog-roll-cont {
      width: 50%;
    }


    }

    .posts-recent-posts {
      width: 80%;
      margin: 0 auto;
    }
}

@media only screen
    and (min-device-width: 1024px) {

    #post-container {
      flex-direction: row;

    .post-content {
      width: 75%;
      margin: 25px 5%;
      flex-grow: 1;

    }



    }

    .posts-recent-posts {
      margin-top: 25px;
      align-items: flex-end;

    }
}

@media only screen
    and (min-device-width: 1400px) {

      .blog-roll-cont {
        // flex-direction: row;
        flex-wrap: wrap;
        // height: 500px;
        list-style-type: none;
        // margin: 10px;
        width: 23%;
      }
    }
