

.twitter-and-blog-widget-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: flex-start;
}

.blog-widget-cont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  list-style-type: none;
  margin: 10px auto;
  order: -1;
  margin-bottom: auto;
}

.post-blog-widget-cont {
  display: flex;
  flex-direction: column;
  width: 90%;
  // margin: 0;
  padding: 0;
  overflow: scroll;
  list-style-type: none;
  margin: 10px auto;
  order: -1;
  margin-bottom: auto;
}

.twitter-timeline-cont {
  width: 100%;
}

.recent-posts-widget-title {
  width: 95%;
  text-align: center;
  color: $greyBlue;
  margin-bottom: 25px;
  border-bottom: 1px solid $greyBlue;
}

.post-widget-cont {
  border: 2px solid $redBrown;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 5px;
}

.post-widget-cont p {
  padding: 10px 0 5px 10px;
  margin: 0;
}

.post-widget-title {
  padding: 0;
  margin: 0;
}

.post-widget-title p {
  padding: 5px 0 5px 10px;
  color: $black;
}

.post-widget-title h3 {
  color: $redBrown;
  padding: 10px 0 5px 10px;
  margin: 0;
}






/* BEGIN MEDIA QUERIES FOR MOBILE SIZED SCREENS */


@media only screen
  and (min-device-width: 319px) {


  }


/* BEGIN MEDIA QUERIES FOR TABLET SIZED SCREENS */

@media only screen
  and (min-device-width: 768px) {

    .twitter-and-blog-widget-cont {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
    }

    .twitter-timeline-cont {
      width: 33%;
      height: 500px;
      overflow: hidden;
    }

    .blog-widget-cont {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 66%;
      // height: 500px;
      overflow: scroll;
      list-style-type: none;
      margin: 10px;
      order: 2;
      flex-grow: 1;
      justify-content: center;
      height: 100%;
    }


    .post-blog-widget-cont {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 50%;
      // background: $redBrown;
      // height: 80%;
      list-style-type: none;
      margin: 1%;
      order: 2;
      flex-grow: 1;
      justify-content: flex-start;
      align-items: center;
    }

    .post-widget-cont {
      width: 45%;
      margin: 1%;
    }
  }

/* BEGIN MEDIA QUERIES FOR MEDIUM LAPTOPS AND LARGER SCREENS */

@media only screen
    and (min-device-width: 1024px) {}
