// /* RGB */
// $black: rgba(8, 7, 5, 1);
// $white: rgba(251, 245, 243, 1);
// $redBrown: rgba(158, 43, 37, 1);
// $greyBlue: rgba(58, 80, 107, 1);
// $lightGrey: rgba(115, 130, 144, 1);
// $orangeHighlight: rgba(228, 86, 46, 1);
//
//
// /* RGB all the same 70% opacity */
// $black70: rgba(8, 7, 5, 0.8);
// $white70: rgba(251, 245, 243, 0.8);
// $redBrown70: rgba(158, 43, 37, 0.8);
// $greyBlue70: rgba(58, 80, 107, 0.9);
// $lightGrey70: rgba(115, 130, 144, 0.8);
// $orangeHighlight70: rgba(228, 86, 46, .8);


// /* HSL *//THE FOLLOWING CORRESPOND TO THE ABOVE
// $black: hsla(40%, 23%, 3%, 1);
// $white: hsla(15%, 50%, 97%, 1);
// $redBrown: hsla(3%, 62%, 38%, 1);
// $greyBlue: hsla(213%, 30%, 32%, 1);
// $lightGrey: hsla(209%, 12%, 51%, 1);



// Hopefully new color scheme:

$black: rgba(8, 7, 5, 1);
$white: rgba(251, 245, 243, 1);
$redBrown: rgba(215, 38, 56, 1);
$greyBlue: rgba(92, 129, 240, 1);
$lightGrey: rgba(115, 130, 144, 1);
$orangeHighlight: rgba(255, 195, 19, 1);


/* RGB all the same 70% opacity */
$black70: rgba(8, 7, 5, 0.8);
$white70: rgba(251, 245, 243, 0.8);
$redBrown70: rgba(215, 38, 56, 0.8);
$greyBlue70: rgba(92, 129, 240, 0.6);
$lightGrey70: rgba(115, 130, 144, 0.8);
$orangeHighlight70: rgba(255, 195, 19, .8);


/////New Color Pallette:

/* Coolors Exported Palette - coolors.co/5c81f0-c21a20-ffc828-d72638-f49d37 */
// 
// /* HSL */
// $color1: hsla(225%, 83%, 65%, 1);
// $color2: hsla(358%, 76%, 43%, 1);
// $color3: hsla(45%, 100%, 58%, 1);
// $color4: hsla(354%, 70%, 50%, 1);
// $color5: hsla(32%, 90%, 59%, 1);
//
// /* RGB */
// $color1: rgba(92, 129, 240, 1);
// $color2: rgba(194, 26, 32, 1);
// $color3: rgba(255, 200, 40, 1);
// $color4: rgba(215, 38, 56, 1);
// $color5: rgba(244, 157, 55, 1);
