/* BEGIN MEDIA QUERIES FOR SMALL SCREENS */

@media only screen
  and (min-device-width: 320px) {

    a:hover {
      color: $black;
    }

    p a:hover {
      color: $greyBlue;
    }

    p .inline-anchor:hover {
      color: $greyBlue;
    }

    .custom-btn-medium-red {
      padding: 5px 10px;
      // height: 20px;
      // width: 30px;
      color: $white;
      background-color: $redBrown;
      border-radius: 5px;
      border: none;

    }

    //global button styles from Sazzad's code pen


    /* Global Button Styles */
    a.animated-button:link, a.animated-button:visited {
    	// position: relative;
    	// display: block;
    	margin-top: 30px;
      margin-button: 0;
    	padding: 14px 15px;
      min-width: 120px;
    	color: #fff;
    	font-size:14px;
    	font-weight: bold;
    	text-align: center;
    	text-decoration: none;
    	text-transform: uppercase;
    	overflow: hidden;
    	letter-spacing: .08em;
    	border-radius: 0;
    	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    	-webkit-transition: all 1s ease;
    	-moz-transition: all 1s ease;
    	-o-transition: all 1s ease;
    	transition: all 1s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
    	content: "";
    	// position: absolute;
    	height: 0%;
    	left: 50%;
    	top: 50%;
    	width: 150%;
    	z-index: -1;
    	-webkit-transition: all 0.75s ease 0s;
    	-moz-transition: all 0.75s ease 0s;
    	-o-transition: all 0.75s ease 0s;
    	transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
    	color: #FFF;
    	text-shadow: none;
    }

    a.animated-button:link, a.animated-button:visited {
    	position: relative;
    	display: block;
    	padding: 14px 15px;
    	color: #fff;
    	font-size:14px;
    	border-radius: 0;
    	font-weight: bold;
    	text-align: center;
    	text-decoration: none;
    	text-transform: uppercase;
    	overflow: hidden;
    	letter-spacing: .15em;
    	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    	-webkit-transition: all 1s ease;
    	-moz-transition: all 1s ease;
    	-o-transition: all 1s ease;
    	transition: all 1s ease;
    }


    /* TharTwo Button */

    a.animated-button.thar-two {
      background: $redBrown70;
      margin-left: 25px;
      margin-right: 25px;
    }

    a.animated-button.thar-two {
    	color: #fff;
    	cursor: pointer;
    	display: block;
    	position: relative;
    	border: 2px solid $redBrown;
    	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    a.animated-button.thar-two:hover {
    	color: $black !important;
    	background-color: $redBrown;
    	text-shadow: ntwo;
    }

    ///Thar Two Secondary Buttons

    /* Thar - Secondary Button - Blue */

    a.animated-button.thar-sec {
      background: $greyBlue70;
      margin-left: 25px;
      margin-right: 25px;
    }

    a.animated-button.thar-sec {
      color: #fff;
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid $greyBlue;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    a.animated-button.thar-sec:hover {
      color: $black !important;
      background-color: $greyBlue;
      text-shadow: ntwo;
    }

    /* Thar - Tertiary Button */

    a.animated-button.thar-ter {
      background: $orangeHighlight70;
      margin-left: 25px;
      margin-right: 25px;
    }

    a.animated-button.thar-ter {
      color: #fff;
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid $orangeHighlight;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    a.animated-button.thar-ter:hover {
      color: $black !important;
      background-color: $orangeHighlight;
      text-shadow: ntwo;
    }



  }

/* BEGIN MEDIA QUERIES FOR TABLET SIZED SCREENS */

@media only screen
  and (min-device-width: 768px) {}

/* BEGIN MEDIA QUERIES FOR MEDIUM LAPTOPS AND LARGER SCREENS */

@media only screen
    and (min-device-width: 1024px) {}





// example HTML for thar: <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button thar-one">Sign up</a> </div>
