/* BEGIN MEDIA QUERIES FOR MOBILE SIZED SCREENS */

header {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $redBrown;
}

nav#responsive-sticky-nav {
  background-color: $redBrown;
  opacity: 1 !important;
}

.nav-link-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
}

.nav-upperleft {
  display: flex;
  align-items: center;
  // text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;

}

.nav-title {
  color: $white;
  font-size: 1.3em;
  font-family: 'Poppins',Futura,"Trebuchet MS",Arial,sans-serif;
}

.nav-link-container a {
  color: $white;
  // font-size: 1.1em;
}

img.nav-logo {
  margin: 15px;
  height: 75px;
}

nav.topNotch {
  background-color: $redBrown !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1 !important;


  // -webkit-backface-visibility: hidden;

}

// APPARENTLY I FORGOT WHAT MOBILE FIRST WAS WHILE DESIGNING THIS MENU SO HERE ARE THE MEDIA QUERIES LAST

@media only screen
  and (min-device-width: 320px) {

    // nav.topNotch {
    //   background-color: $redBrown;
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   // -webkit-backface-visibility: hidden;
    // }

    .nav-links {
      display: none;
    }

//hamburger link style
    #nav-menu-link img {
      height: 50px;
    }

    .focalHeadline {
      margin-top: 0px;
    }


  }


/* BEGIN MEDIA QUERIES FOR TABLET SIZED SCREENS */

@media only screen
  and (min-device-width: 768px) {
    .nav-links {
      display: block;
      font-size: 0.8em;
    }

    #nav-menu-link img {
      display: none;
    }

  }

/* BEGIN MEDIA QUERIES FOR MEDIUM LAPTOPS AND LARGER SCREENS */

@media only screen
    and (min-device-width: 1024px) {

      .nav-link-container a {
        font-size: 1.1em;
      }
    }
