/* BEGIN MEDIA QUERIES FOR MOBILE SIZED SCREENS */

@media only screen
  and (min-device-width: 320px) {

    .solo-img {
      width: 100%;
    }

    .focalImg {
      display: flex;
      width: 100%;
      height: 100vh;
      background:
        url(/assets/images/child-refugees.jpg);
      margin: 0;
      flex-direction: column;
      background-size: cover;
      background-position: center;
      align-items: center;
      justify-content: center;
      text-rendering: optimizeLegibility;
    }

    .focal-overlay {
      display: flex;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-color: $greyBlue70;
      border-bottom: 1px solid $redBrown;

    }

    .focal-text-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      text-rendering: optimizeLegibility;
    }

    .focalHeadline {
      text-align: center;
      font-size: 3em;
      color: $white;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.75), 0 0 14px rgba(0, 0, 0, 0.5);
    }

    .focal-subheadline {
      margin: 0;
      font-size: 1em;
      color: $white;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.75), 0 0 14px rgba(0, 0, 0, 0.5);

    }

    .button-container-home {
      display: flex;
      flex-direction: column;
    }

    #donate-btn-home {
      border: 2px solid $orangeHighlight;
      background: $orangeHighlight70;
    }

    #donate-btn-home:hover {
      background: $orangeHighlight;
    }

    .flex-page-section {
      margin: 50px 0;
    }

//deals with sections of content mid page
    .flex-page-section {
      display: flex;
      flex-direction: column;
    }

//reordering so that image containers occur first

    .img-cont {
      order: -1;
    }

//aligning collage img section elements
    .collage9 {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }

//making a 9 image collage 3x3 images of 1:1 ratio;
    .collage9 img{
      width: 33%;
      height: 33%;
    }

    .collage4 {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 5% 0;
      align-items: center;
      justify-content: space-between;
      // margin: 25px;
      // flex-grow: 1;
    }

    .collage4 img {
      width: 20%;
      height: 20%;
      border-radius: 50%;
      border: 3px solid $greyBlue;

    }

    .button-container-home-page {
      margin: 0 auto;
      width: 60%;
    }

    .alternative-page-section {
      background: $redBrown;
      color: $white;
    }

    .alternative-page-section-blue {
      background: $greyBlue;
      color: $white;
    }

    .alternative-page-section thar-sec, thar-ter, thar-two {
      margin-bottom: 10px;
    }

    .alternative-page-section p,h2 {
      padding: 10px;
    }





  } //end small screen media and global queries


/* BEGIN MEDIA QUERIES FOR TABLET SIZED SCREENS */

@media only screen
  and (min-device-width: 768px) {

    .focalImg {
      height: 500px;
    }

    .button-container-home {
      display: flex;
      flex-direction: row;
    }

    .focal-text-container {
      width: 50%;
  }

    .focal-overlay {
      border-bottom: 1px solid $redBrown;
    }

//section margin

    .flex-page-section {
      margin: 75px 0;
    }

//realigning containers to be side by side
    .flex-page-section {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .flex-page-section-full-width-text {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .text-cont {
      order: 0;
      width: 48%;
      margin: 1%;
    }

    .text-cont-full-width {
      width: 90%;
      margin: 1%;
    }

    .text-cont p {
      padding: 10px;
    }

    .img-cont {
      order: 0;
      width: 48%;
      margin: 1%;
    }

    .reverse {
      order: -1;
    }

    .reverse-blue {
      order: -1;
    }


}

/* BEGIN MEDIA QUERIES FOR MEDIUM LAPTOPS AND LARGER SCREENS */

@media only screen
    and (min-device-width: 1024px) {
      .focalHeadline {
        font-size: 4em;
      }
      .focal-subheadline {
        font-size: 1.2em;
      }

      .text-cont h2 {
        font-size: 2.5em;
      }

      .text-cont p {
        font-size: 1.2em;
      }

      .text-cont-full-width h2 {
        font-size: 2.5em;
      }

      .text-cont-full-width p {
        font-size: 1.2em;
      }

      .text-cont-full-width h3 {
        font-size: 2em;
      }

    }
