/*FOR ALL STYLES FONT RELATED*/

/*IMPORTING FONTS "POPPINS" AND "ROBOTO" FROM GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,700');

// SETTING BASIC STYLES ON H1-6, P

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins',Futura,"Trebuchet MS",Arial,sans-serif;
}

p {
  font-family: 'Roboto',Verdana,Geneva,sans-serif;
}

a {
  font-family: 'Roboto',Verdana,Geneva,sans-serif;
}
