---
title: Coalition for Refugees from Burma - Blog
permalink: CRB_blog.html
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <!-- <div id="GetInvolvedHeader" class="focalImg">
    <div class="focal-overlay">
      <div class="focal-text-container">
        <h1 class="focalHeadline">Blog</h1>
        <h2 class="focal-subheadline">Interested in joining our team of enthusiastic and talented staff and volunteers? Check out our employment and volunteer opportunities below!</h2>
        <!-- <div class="focal-btn-container"> -->
          <!-- <div class="button-container-home">
            <a href="#" class="btn btn-sm animated-button thar-two">Learn More</a>
            <a href="#" id="donate-btn-home" class="btn btn-sm animated-button thar-two secondary-btn">Donate</a>
          </div> -->
          <!-- {% include social-media.html %} -->
        <!-- </div> -->
      </div>
    </div>
  </div> <!-- end focal image div -->
  {% include header.html%}
  <div class="content-container">


    <ul class="blog-widget-cont">
      {% for post in site.posts %}
        <li class="post-widget-cont">
          <a class="post-widget-title" href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>







  {% include fourWideCircleImages.html%}

  </div><!-- /.container -->
  {% include footer.html%}
  {{ site.jQuery }}
  {{ site.sticky-nav }}
  </body>
</html>
