<footer>
  <div class="footer-cont">
    <!-- GRAPHICS FOR FOOTER IN CSS -->
    <div id="seattle-skyline"></div>
    <div id="forest-skyline"></div>
    <div id="footer-touchup"></div>
    <div class="footer-flex-cont">
    <div id="footer-logo-cont">
      <a href="#">
        <h3>CRB © {{ 'now' | date: "%Y" }}</h3>
      </a>
    </div>
    <div class="link-ul-cont">
      <ul class="footer-btn-cont">
          <li>
            <a href="#"><h4 class="footer-site-map">Mission</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Programs</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Volunteer</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Donate</h4></a>
          </li>
      </ul>
      <ul class="footer-btn-cont">
          <li>
            <a href="#"><h4 class="footer-site-map">Contact</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Careers</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Attribution</h4></a>
          </li>
      </ul>
    </div>
  </div>
</footer>
{{site.bootstrapJS}}
{{ site.jQuery }}
{{ site.sticky-nav }}
