<footer>
  <div class="footer-cont">
    <!-- GRAPHICS FOR FOOTER IN CSS -->
    <div id="seattle-skyline"></div>
    <div id="forest-skyline"></div>
    <div id="footer-touchup"></div>
    <div class="footer-flex-cont">
    <div id="footer-logo-cont">
      <a href="#">
        <h3>CRB © {{ 'now' | date: "%Y" }}</h3>
      </a>
    </div>
    <div class="link-ul-cont">
      <ul class="footer-btn-cont">
          <li>
            <a href="/OurMission"><h4 class="footer-site-map">Mission</h4></a>
          </li>
          <li>
            <a href="/Programs"><h4 class="footer-site-map">Programs</h4></a>
          </li>
          <li>
            <a href="/GetInvolved"><h4 class="footer-site-map">Get Involved</h4></a>
          </li>
          <li>
            <a href="https://crburma.ejoinme.org/crbdonationpage" target="_blank"><h4 class="footer-site-map">Donate</h4></a>
          </li>
      </ul>
      <ul class="footer-btn-cont">
          <li>
            <a href="/Contact"><h4 class="footer-site-map">Contact</h4></a>
          </li>
          <li>
            <a href="/CRB_blog"><h4 class="footer-site-map">Blog</h4></a>
          </li>
          <li>
            <a href="/GetInvolved"><h4 class="footer-site-map">Careers</h4></a>
          </li>
          <li>
            <a href="/Attribution"><h4 class="footer-site-map">Attribution</h4></a>
          </li>
      </ul>
    </div>
  </div>
</footer>

{{ site.jQuery }}
{{ site.sticky-nav }}
{{ site.mobile-nav }}
{{ site.kon }}
