

<footer>
  <div class="footer-cont">
    <!-- GRAPHICS FOR FOOTER IN CSS -->
    <div id="seattle-skyline"></div>
    <div id="forest-skyline"></div>
    <div id="footer-touchup"></div>
    <div class="footer-flex-cont">
    <div id="footer-logo-cont">
      <a href="#">
        <img class="nav-logo" src="{{ site.baseurl }}assets/images/burma-logo.png" alt="Image">
      </a>
    </div>
    <div class="link-ul-cont">
      <ul class="footer-btn-cont">
          <li>
            <a href="#"><h4 class="footer-site-map">Mission</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Help</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Donate</h4></a>
          </li>
      </ul>
      <ul class="footer-btn-cont">
          <li>
            <a href="#"><h4 class="footer-site-map">Programs</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Contact</h4></a>
          </li>
          <li>
            <a href="#"><h4 class="footer-site-map">Social</h4></a>
          </li>
      </ul>
    </div>
  </div>






</footer>
{{site.bootstrapJS}}
{{ site.jQuery }}
{{ site.sticky-nav }}
