<header>
  <nav id="responsive-sticky-nav">
    <a class="nav-upperleft" href="/">
      <img class="nav-logo" src="/assets/images/burma-logo.png" alt="The Coalition for Refugees from Burma">
      <h4 class="nav-title">Coalition for Refugees from Burma</h4>
    </a>
    <div class="nav-link-container">
      <a class="nav-links" href="/OurMission"><h4>Our Mission</h4></a>
      <a class="nav-links" href="/Programs"><h4>Programs</h4></a>
      <a class="nav-links" href="/GetInvolved"><h4>Get Involved</h4></a>
      <a class="nav-links nav-donate" href="https://crburma.ejoinme.org/crbdonationpage" target="_blank"><h4>Donate</h4></a>
      <a id="nav-menu-link" href="#"><img src="{{ site.baseurl }}assets/icons/png/002-menu.png" alt="Menu"></a>
    </div>
  </nav>
</header>
