<header>
  <nav>
    <a class="nav-upperleft" href="{{ site.baseurl }}">
      <img class="nav-logo" src="{{ site.baseurl }}assets/images/burma-logo.png" alt="The Coalition for Refugees from Burma">
      <h4 class="nav-title">Coalition of Refugees from Burma</h4>
    </a>
    <div class="nav-link-container">
      <a class="nav-links" href="#"><h4>Our Mission</h4></a>
      <a class="nav-links" href="#"><h4>Programs</h4></a>
      <a class="nav-links" href="#"><h4>Get Involved</h4></a>
      <a class="nav-links nav-donate" href="#"><h4>Donate</h4></a>
      <a class="nav-menu-link" href="#"><img src="{{ site.baseurl }}assets/icons/png/002-menu.png" alt="Menu"></a>
    </div>

  </nav>
</header>
