<div id="mobileContainer">
  <a id="nav-title-upper" class="nav-upperleft hide" href="/">
    <!-- <img class="nav-logo" src="/assets/images/burma-logo.png" alt="The Coalition for Refugees from Burma"> -->
    <h3 id="mobile-nav-title">Coalition for Refugees from Burma</h4>
    <hr>
  </a>
  <a id="exit-mobile-nav-btn" href="#"><img id="exit-btn" src="{{ site.url }}/assets/icons/png/001-close.png" alt="Exit Navigation"></a>
  <ul id="mobile-nav-ul">
    <li class="mobile-nav-li"><a class="mobile-nav-a" href="/">Home</a></li>
    <li class="mobile-nav-li"><a class="mobile-nav-a" href="OurMission">Our Mission</a></li>
    <li class="mobile-nav-li"><a class="mobile-nav-a" href="Programs">Programs</a></li>
    <li class="mobile-nav-li"><a class="mobile-nav-a" href="GetInvolved">Get Involved</a></li>
    <li class="mobile-nav-li"><a class="mobile-nav-a" href="CRB_blog">Blog</a></li>
    <li class="mobile-nav-li"><a class="mobile-nav-a" target="_blank" href="https://crburma.ejoinme.org/crbdonationpage">Donate</a></li>
  </ul>
</div>
