<div id="overlayMenu" class="hide">
  <img id="exitNav" src="assets/essentialIcons/svg/error.svg" alt="navigation icon" />
  <h1 id="navTitle">title</h1>
  <p class="overlayMenuSubtitle">subtitle</p>
  <ul id="flexMenu">
      <li class="mobile-menu-item"><a class="navLink" href="#">
        <!-- <img class="overlayIcon" src="assets/essentialIcons/svg/clock.svg" alt=""> -->
        <h6 class="overlayMenuH6">home<h6>
      </a></li>
      <li class="mobile-menu-item"><a class="navLink" href="#">
        <!-- <img class="overlayIcon" src="assets/essentialIcons/svg/agenda-1.svg" alt=""> -->
        <h6 class="overlayMenuH6">Our Mission<h6>
      </a></li>
      <li class="mobile-menu-item"><a class="navLink" href="#">
        <!-- <img class="overlayIcon" src="assets/essentialIcons/svg/witch.svg" alt=""> -->
        <h6 class="overlayMenuH6">Programs<h6>
      </a></li>
      <li class="mobile-menu-item"><a class="navLink" href="#">
        <!-- <img class="overlayIcon" src="assets/essentialIcons/svg/user.svg" alt=""> -->
        <h6 class="overlayMenuH6">Get Involved<h6>
      </a></li>
      <li class="mobile-menu-item"><a class="navLink" href="#">
        <!-- <img class="overlayIcon" src="assets/essentialIcons/svg/user.svg" alt=""> -->
        <h6 class="overlayMenuH6">Donate<h6>
      </a></li>
  </ul>
</div><!-- overlay menu end -->
