<div class="social-container">
  <a class="social-item" href="https://www.facebook.com/BurmaRefugees/" target="_blank"><img src="{{ site.baseurl }}assets/icons/png/006-facebook.png" alt="The Coalition for Refugees from Burma"></a>
  <a class="social-item" href="https://twitter.com/BurmaRefugees" target="_blank"><img src="{{ site.baseurl }}assets/icons/png/005-twitter.png" alt="The Coalition for Refugees from Burma"></a>
  <a class="social-item" href="https://www.instagram.com/BurmaRefugees/" target="_blank"><img src="{{ site.baseurl }}assets/icons/png/004-instagram.png" alt="The Coalition for Refugees from Burma"></a>
</div>
