---
title: My page
permalink: OurMission.html
---


<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include mobile_nav.html %}
  <div id="OurMissionHeader" class="focalImg">
    <div class="focal-overlay">
      <div class="focal-text-container">
        <h1 class="focalHeadline">Our Mission</h1>
        <!-- <p class="focal-subheadline">We are the Coalition for Refugees from Burma, and we help refugees get on their feet and learn the skills they need to become successful in an ever-changing world.</p> -->
        <!-- <div class="focal-btn-container"> -->
          <!-- <div class="button-container-home">
            <a href="#" class="btn btn-sm animated-button thar-two">Learn More</a>
            <a href="#" id="donate-btn-home" class="btn btn-sm animated-button thar-two secondary-btn">Donate</a>
          </div> -->
          {% include social-media.html %}
        <!-- </div> -->
      </div>
    </div>
  </div> <!-- end focal image div -->
  {% include header.html%}
  <div class="content-container">
<!-- BEGINNING OF SECTION ONE -->
    <section class="flex-page-section">
      <div class="text-cont">
        <!-- <h1>Our Mission</h1> -->
        <p>Coalition for Refugees from Burma (CRB) promotes the self-sufficiency of all resettled refugees by helping them access services and educational opportunities, while preserving traditional customs.</p>
        <p>We seek to transform refugees to become advocates of our community, and to provide culturally and linguistically appropriate humanitarian and social support services to improve the living conditions and quality of life for resettled refugees.</p>
        <p></p>
        <div class="button-container-home-page">
          <a href="#" class="btn btn-sm animated-button thar-two">Donate</a>
        </div>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/ComputerLiteracyAdultSQ0.jpg" alt="">
      </div>

    </section>
<!-- END OF SECTION ONE -->
<!--                    -->
<!-- BEGINNING OF SECTION TWO -->
    <section class="flex-page-section alternative-page-section-blue">
      <div class="text-cont">
        <h2>Fostering community</h2>
        <p>We intentionally reach across ethnic, religious, and language barriers to provide services. All this culminates in a community-based system of training that enhances basic life skills and crisis resolution.</p>
        <div class="button-container-home-page">
          <a href="#" class="btn btn-sm animated-button thar-two">Our Programs</a>
          <a href="#" class="btn btn-sm animated-button thar-two">Get Involved</a>
        </div>
      </div>
      <div class="img-cont reverse-blue">
        <img class="solo-img" src="/assets/images/Enhanced/ComputerTraining0.jpg" alt="A group of members graduates from our summer STEP program.">
      </div>
    </section>
<!-- END OF SECTION TWO -->
<!--                    -->
<!-- BEGINNING OF SECTION THREE -->
    <section class="flex-page-section">
      <div class="text-cont">
        <h2>About Us</h2>
        <p>CRB was formed in 2009 and has provided its services to hundreds of families throughout the Puget Sound region. CRB builds relationships with and supports refugee families from all over the world through its education programs.</p>
        <div class="button-container-home-page">
          <a href="#" class="btn btn-sm animated-button thar-two">Get Involved</a>
          <a href="#" class="btn btn-sm animated-button thar-ter">Contact Us</a>
        </div>
      </div>
      <div class="img-cont">
        <img class="solo-img" src="/assets/images/Enhanced/GroupShotSQ0.jpg" alt="">
      </div>
    </section>
<!-- END OF SECTION THREE -->
<!-- BEGINNING OF SECTION FOUR -->
    <section class="flex-page-section-full-width-text">
      <div class="text-cont-full-width">
        <h3>The beginning</h3>
        <p>The Coalition for Refugees from Burma was formally organized in October 8th, 2009 following three years of coordination and assistance to help refugees from Burma survive the trauma of resettlement from a jungle war zone or detention camp to an extremely dissimilar urban culture. Refugees from Burma include Karen, Chin, Kayah, Kachin, Mon, Shan and other ethnic groups from Burma.  The primary purpose is to provide culturally and linguistically appropriate humanitarian and social support services to improve the living conditions and quality of life of the refugees from Burma who are resettled in the State of Washington.</p>
      </div>
      <div class="text-cont-full-width">
        <h3>Goals and objectives</h3>
        <p>Objectives of the CRB include, but are not limited to, forming local assistance groups for the refugee communities in the Washington State and include other activities that respond to the needs of the Burmese refugee community as they have defined them. The CRB is uniquely placed to assist people from Burma to resettle in that it is formed by established Burmese communities with language and traditions that are familiar to the new arrivals thus softening the extreme culture shock.</p>
      </div>
      <div class="text-cont-full-width">
        <p>To this end, CRB endeavors to work in coordination with other entities and other nonprofit groups, upholding similar objectives. The CRB is also well placed to help all refugees from Burma, regardless of religion or ethnicity, to transition and integrate into life in the United States because some participants of CRB have gone through the resettlement and cultural adjustment processes themselves.  Having experienced the same conditions both in refugee camps and as newly resettled refugees they can provide support and mentoring to newly arrived refugees.</p>
      </div>
      <div class="text-cont-full-width">
        <h3>Our staff</h3>
        <p>The CRB volunteers are made of former refugees from Burma, local Burmese community members and non-Burmese community members.</p>
      </div>
    </section>
<!-- END OF SECTION FOUR -->
<!-- BEGIN 4 WIDE ROW IMAGE CONTAINER -->
<div class="collage4">
  <img class="" src="/assets/images/Enhanced/ClassroomSQ3.jpg" alt="">
  <img class="" src="/assets/images/Enhanced/GroupShotSQ1.jpg" alt="">
  <img class="" src="/assets/images/Enhanced/AdultTrainingSQ1.jpg" alt="">
  <img class="" src="/assets/images/Enhanced/MayAndIlhan-AyanSQ.jpg" alt="">
</div>
<!-- END 4 WIDE ROW IMAGE CONTAINER -->




  </div><!-- /.container -->
  {% include footer.html %}
  </body>
</html>
