<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include mobile_nav.html %}
  <div class="focalImg">
    <div class="focal-overlay">
      <div class="focal-text-container">
        <h1 class="focalHeadline">We help refugees</h1>
        <p class="focal-subheadline">We are the Coalition for Refugees from Burma, and we help refugees get on their feet and learn the skills they need to become successful in an ever-changing world.</p>
        <div class="focal-btn-container">
          <div class="button-container-home">
            <a href="/OurMission" class="btn btn-sm animated-button thar-two">Learn More</a>
            <a href="https://crburma.ejoinme.org/crbdonationpage" target="_blank" id="donate-btn-home" class="btn btn-sm animated-button thar-two secondary-btn">Donate</a>
          </div>
          {% include social-media.html %}
        </div>
      </div>
    </div>
  </div> <!-- end focal image div -->
  {% include header.html%}
  <div class="content-container">

  {{ content }}


    {% include fourWideCircleImages.html%}
  </div><!-- /.container -->
  {% include footer.html%}


  </body>
</html>
