
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="focalImg">
    <div class="focal-overlay">
      <div class="focal-text-container">
      <h1 class="focalHeadline">We help refugees</h1>
      <p class="focal-subheadline">We are the Coalition for Refugees from Burma, and we help refugees get on their feet and learn the skills they need to become successful in an ever-changing world.</p>
      <div class="focal-btn-container">

  <div class="button-container-home">
    <a href="#" class="btn btn-sm animated-button thar-two">Learn More</a>
    <a href="#" id="donate-btn-home" class="btn btn-sm animated-button thar-two">Donate</a>
  </div>




<!-- SEE CODE PEN: -->


      </div>
    </div>
    </div>
  </div>
  {% include header.html%}



  <img src="http://placehold.it/100x2500">

      <!-- {{ content }} -->
      <footer>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </footer>
    </div>
    {{ site.jQuery }}
    {{ site.sticky-nav }}
  </body>
</html>
