
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="focalImg">
    <div class="focal-overlay">
      <div class="focal-text-container">
      <h1 class="focalHeadline">We help refugees</h1>
      <p class="focal-subheadline">We are the Coalition for Refugees from Burma, and we offer a wide range of Educational Programs to help refugees get on their feet and learn the skills they need to become successful in an ever-changing world.</p>
    </div>
    </div>
  </div>
  {% include header.html%}

  <!-- <img src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-485331.jpg" alt="" class="long-ass-element"> -->

      <!-- {{ content }} -->
      <footer>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </footer>
    </div>
    {{ site.jQuery }}
    {{ site.sticky-nav }}
  </body>
</html>
