---
---
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/styles/style.css">
{% include head.html %}
<body>
  {% include mobile_nav.html %}
  {% include header.html%}


<div id="post-container">
<div class="post-content">
  <img class="post-focal-img" src="/assets/images/child-refugees.jpg" alt="Coalition for Refugees from Burma">
  <h2 class="post-post-title">
    {{ page.title }}
  </h2>
  <p class="post-post-subtitle">
    {{ page.description }}
  </p>
  <hr>
  {{content}}
</div>
<div class="posts-recent-posts">
  <h4>Recent posts</h4>
  <ul class="blog-widget-cont">
    {% for post in site.posts limit:3 %}
      <li class="post-widget-cont">
        <a class="post-widget-title" href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {{ post.description }}
      </li>
    {% endfor %}
</div>

</div>



{% include fourWideCircleImages.html%}

{% include footer.html %}

</body>
</html>
